{
  "Servers": {
    "1": {
      "Name": "JobMarket Local",
      "Group": "JobMarket",
      "Host": "jobmarket-postgres",
      "Port": 5432,
      "MaintenanceDB": "jobdb",
      "Username": "jobuser",
      "Password": "CHANGEME",
      "SSLMode": "prefer",
      "Shared": true
    }
  }
}